<p>
  <strong>Image ID:</strong>
  <%= @instance.image_id %>
</p>

<p>
  <strong>Instance Type:</strong>
  <%= @instance.instance_type %>
</p>

<p>
  <strong>Region:</strong>
  <%= @instance.region %>
</p>

<p>
  <strong>Key Name:</strong>
  <%= %>
</p>

<p>
  <strong>Security Group:</strong>
  <%= %>
</p>

<p>
  <strong>AWS Access Key ID:</strong>
  <%= @instance.access_key_id%>
</p>

<p>
  <strong>AWS Secret Access Key:</strong>
  <span>*****</span>
</p>

<p>
  <strong>Linux User:</strong>
  <%= @instance.linux_user %>
</p>

<p>
  <strong>Linux Password:</strong>
  <span>*****</span>
</p>

<%= link_to 'Edit', edit_instance_path(@instance) %> 
<%= link_to 'Back', instances_path %>

