<p>
  <strong>Instance ID:</strong>
  <%= @instance.instance_id ? @instance.instance_id : '-' %>
</p>

<p>
  <strong>State:</strong>
  <%= @instance.state ? @instance.state : '-' %>
</p>

<p>
  <strong>IP Address:</strong>
  <%= @instance.ip ? @instance.ip : '-' %>
</p>

If your security options are correct you are in the directory of your pem-filet, you can connect now:<br />
ssh ec2-user@<%= @instance.ip %> -i <%= @instance.key_name %>.pem -v
<br />

<%= link_to 'Edit', edit_instance_path(@instance) %> 
<%= link_to 'Back', instances_path %>


Don't forget to termininate you instances with the <a href="ssh ec2-user@54.218.49.230 -i ec2-admin-uswest2.pem -v">AWS console</a>.
